<!DOCTYPE HTML>
<html>
    <head>
        <title>3D Graphing App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel=stylesheet href="static/css/base.css"/>
    </head>
    <body>
		<div id="info">
		    <br/>3D Function Grapher in Three.js
		    <br/>By Joe Connolly and Max Bu
		</div>

        <script src="static/js/src/Three.js"></script>
        <script src="static/js/src/Detector.js"></script>
        <script src="static/js/src/Stats.js"></script>
        <script src="static/js/src/OrbitControls.js"></script>
        <script src="static/js/src/THREEx.KeyboardState.js"></script>
        <script src="static/js/src/THREEx.FullScreen.js"></script>
        <script src="static/js/src/THREEx.WindowResize.js"></script>
        <script src="static/js/src/jquery-1.9.1.js"></script>
        <script src="static/js/src/jquery-ui.js"></script>
        <script src='static/js/src/DAT.GUI.min.js'></script>
        <script src="static/js/src/node_modules/mathjs/dist/math.js" type="text/javascript"></script>

        <link rel=stylesheet href="static/css/jquery-ui.css" />
        <link rel=stylesheet href="static/css/info.css"/>

        <div id="infoButton"></div>
        <div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>

        <script src="static/js/Grapher.js"></script>
    </body>
</html>